/* 
CSS-kod i en separat fil, s.k. extern CSS.
CSS-koden är uppbyggd av regelblock som består av en selektor (t.ex. "p") och en deklaration (mellan måsvingar).
*/

p {
  font-size: 12px;
}

.my-class {
  font-family: "Audiowide", sans-serif;
}

div {
  border: 5px solid black;
}

#div1 {
  background-color: red;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 15px;
}

#div2 {
  background-color: blue;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 15px;
  padding-right: 20px;
  border-radius: 25px;
}
